# SELECT * FROM patients
# SELECT first_name
# FROM patients
# WHERE first_name LIKE 'C%';
# SELECT first_name, last_name
# FROM patients
WHERE weight BETWEEN 100 AND 120;
UPDATE patients
SET allergies = 'NKA'
WHERE allergies IS NULL;
SELECT CONCAT(first_name, ' ', last_name) AS full_name
FROM patients;
SELECT COUNT(*) AS total_patients_2010
FROM patients
WHERE YEAR(birth_date) = 2010;
SELECT first_name, last_name, height
FROM patients
ORDER BY height DESC
LIMIT 1;
SELECT *
FROM patients
WHERE patient_id IN (1, 45, 534, 879, 1000);
SELECT COUNT(*) AS total_admissions
FROM admissions;
SELECT *
FROM admissions
WHERE admission_date = discharge_date;
SELECT patient_id, COUNT(*) AS total_admissions
FROM admissions
WHERE patient_id = 579
GROUP BY patient_id;
SELECT DISTINCT city
FROM patients
WHERE province_id = 'NS';
SELECT first_name, last_name, birth_date
FROM patients
WHERE height > 160 AND weight > 70;
SELECT first_name, last_name, allergies
FROM patients
WHERE allergies IS NOT NULL
  AND city = 'Hamilton';